{
	"taskApps": {
		"habitica": {
			"baseUri": "",
			"userId": "",
			"apiToken": ""
		},
		"todoist": {
			"baseUri": "https://beta.todoist.com/API/v8",
			"clientSecret": "",
			"userAgent": "Todoist-Webhooks",
			"apiToken": ""
		}
	},
	"projects": {
		"none": {
			"habiticaId": "",
			"todoistId": 0
		},
		"life": {
			"habiticaId": "",
			"todoistId": 0
		},
		"work": {
			"habiticaId": "",
			"todoistId": 0
		}
	},
	"webhookToken": ""
}
